.add-task-container {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 5px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.input-container__add-task,
.button__add-task {
    height: 100%;
    padding: 10px 1rem;
}
.input-container__add-task {
    flex: 1;
}
.input-container__add-task input {
    width: 100%;
    height: 100%;
    border: 1.5px solid rgb(150, 150, 150);
    border-radius: 4px;
    padding: 0px 5px;
}
.input-container__add-task input::placeholder {
    font-style: italic;
}
.button__add-task button {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    background: #00CED1;
    color: #fff;
}
.button__add-task button:hover {
    background-color: #20B2AA;
}